.home {
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: left;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-card h2 {
    font-size: 1.5em;
  }
  
  .product-card p {
    margin: 0.5em 0;
  }
  